
/*header section*/
.header-section {
    background: #fcdb00;
    padding-top: 35px;
}
.header-section .menu ul li {
    padding-left: 45px;
}
.header-section .menu ul li a {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

/*slider section*/
.slider-section {
    background: #fcdb00;
    padding: 50px 0px 80px 0px;
}
.slider-text-left {
    width: 410px;
    padding-top: 60px;
}
.section-title{
	font-size: 32px;
	font-weight: bold;
	color: #000;
}
.section-para{
	font-size: 20px;
	font-weight: normal;
	color: #7d7d7d;
}
.slider-section p{
	font-size: 16px;
	font-weight: normal;
	color: #313841;
}
.pad-top{
	padding-top: 20px;
}
.slider-icon {
	list-style: none;
	margin: 0;
	padding: 0;
}
.slider-icon li {
	float: left;
	padding: 10px 30px 0px 0px;
}
.slider-icon li a {
    color: #010101;
    font-size: 35px;
}

/*features section*/
.features-section{
	background: #fff;
	padding: 120px 0px 150px 0px;
}
/*single featurs*/
.single-feature{
	padding-top: 90px;
}
.feature-icon i{
	font-size: 40px;
}
.feature-details{
	margin-left: 70px;
}
.feature-details h3{
	font-size: 22px;
	font-weight: bold;
	color: #000;
}
.feature-details p{
	font-size: 16px;
	font-weight: normal;
	color: #313841;
}
/*contact-sectio*/
.contact-section{
	background: #010101;
	padding: 95px 0px 100px 0px;
}
.h2-color{
	color: #fcdb00;
}
button{
	background: #fcdb00;
}
.social-icon{
	padding-top: 70px;
}
.social-icon ul{}
.social-icon ul li{
	list-style: none;
	display: inline-block;
	padding: 10px;
}
.social-icon ul li a{}
.social-icon ul li i{
	color: #fcdb00;
	font-size: 40px;
}
/*footer-section*/
.footer-section{
	background: #010101;
	padding-bottom: 130px;
}
.footer-text p, a{
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #fff;
}
.footer-social-menu li{
	list-style: none;
}
.footer-social-menu li a:hover{
	text-decoration: none;
}



